@model List<WebMap.Models.Location>

<div id="map"></div>


@Styles.Render("~/bundles/mapcss")


@section scripts {
    <script>
        var locationsData = @Html.Raw(Json.Encode(Model));
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGrMcAIVaLJcLwI3cB9sVPx4vD7cgTC0s&callback=initMap" async defer></script>
}


@Scripts.Render("~/bundles/mapjs")


